@using Core.UI.Web.App_Start.Resources

<div class="login-box">
    <div class="login-logo">
        <a href="@Url.Action("Index","Home")"><b>@Lang.ApplicationName</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">@Lang.NewPassword</p>

            <div class="input-group mb-3">
                <input type="password" id="pass" class="form-control" placeholder="@Lang.Password">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" id="cpass" class="form-control" placeholder="@Lang.CPassword">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-4">
                    <button type="button" id="btnLogin" onclick="Login()" class="btn btn-primary btn-block">@Lang.Login</button>
                </div>
                <!-- /.col -->
            </div>


        </div>
        <!-- /.login-card-body -->
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {

        });

        function Login() {
            var url = "";
            $("#btnLogin").append(' <i class="fa fa-spinner fa-spin" id="load"></i>');
            var cpass = $("#cpass").val();
            var pass = $("#pass").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("SetNewPassword", "Auth")",
                data: { pass:pass, cpass: cpass },
                success: function (data) {
                    if (data.state) {
                        if (url != "") {
                            window.location.href = url;
                        } else {
                            window.location.href = "/" + data.url.RouteValues[1].Value + "/" + data.url.RouteValues[0].Value;
                        }
                    } else {
                        $.notify(data.msg, "error");
                    }
                },
                error: function (xhr) {
                    $('#btnLogin').find('i').remove();
                    $("#btnLogin").show("slow");
                }
            });
        }
    </script>
}
